<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.woojin.app.accounts.AccountDTO" alias="AccountDTO"/>
		<typeAlias type="com.woojin.app.users.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.woojin.app.users.CartDTO" alias="CartDTO"/>
		<typeAlias type="com.woojin.app.products.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.woojin.app.boards.notices.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.woojin.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.woojin.app.boards.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.woojin.app.boards.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.woojin.app.boards.CommentDTO" alias="CommentDTO"/>
		<typeAlias type="com.woojin.app.products.CommentsDTO" alias="CommentsDTO"/>
		<typeAlias type="com.woojin.app.users.UserFileDTO" alias="UserFileDTO"/>
		<typeAlias type="com.woojin.app.files.FileDTO" alias="FileDTO"/>
		<typeAlias type="com.woojin.app.pages.Pager" alias="Pager"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>
