<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.woojin.app.notices.NoticeDAO">
  	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
  		SELECT * FROM 
		(SELECT rownum r, M.* FROM 
		(SELECT * FROM notices ORDER BY boardnum desc) M)
		WHERE r BETWEEN #{startNum} AND #{endNum}
  	</select>
  	<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
  		SELECT * FROM NOTICES WHERE BOARDNUM=#{boardNum}
  	</select>
  	<select id="count" resultType="Long">
  		SELECT COUNT(boardnum) FROM NOTICES
  	</select>
  	<insert id="add" parameterType="NoticeDTO">
  		INSERT INTO NOTICES 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME)
  		VALUES
  			(BOARD_SEQ.NEXTVAL, #{boardTitle}, sysdate, #{boardContents}, 0, #{userName})	
  	</insert>
  	<update id="update" parameterType="NoticeDTO">
  		UPDATE NOTICES SET
  			BOARDTITLE=#{boardTitle},
  			BOARDCONTENTS=#{boardContents}
  		WHERE BOARDNUM =#{boardNum}	
  	</update>
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE NOTICES WHERE BOARDNUM =#{boardNum}
  	</delete>
  	
  	<update id="updateHit" parameterType="NoticeDTO">
  		UPDATE NOTICES SET BOARDHIT=BOARDHIT+1
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  	
  	
  
	
  </mapper>