<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.woojin.app.boards.notices.NoticeDAO">
  	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
  		SELECT * FROM 
			(SELECT ROWNUM R, M.* FROM 
				(
					SELECT * 
					FROM NOTICES 
					WHERE 
					<!-- #사용하지 않음 -->
					<choose>
						<when test="kind=='k2'">
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<when test="kind=='k3'">
						BOARDTITLE LIKE '%'||#{search}||'%'
						OR
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<otherwise>
						BOARDTITLE LIKE '%'||#{search}||'%'
						</otherwise>
					</choose>
					ORDER BY BOARDNUM DESC
				 ) M
			 )
		WHERE R BETWEEN #{startNum} AND #{endNum}
  	</select>
  	<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
  		SELECT * FROM NOTICES WHERE BOARDNUM=#{boardNum}
  	</select>
  	<select id="count" resultType="Long">
  		SELECT COUNT(boardnum) FROM NOTICES
  	</select>
  	<insert id="add" parameterType="NoticeDTO">
  		INSERT INTO NOTICES 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME)
  		VALUES
  			(BOARD_SEQ.NEXTVAL, #{boardTitle,jdbcType=VARCHAR}, sysdate, #{boardContents,jdbcType=VARCHAR}, 0, #{userName,jdbcType=VARCHAR})	
  	</insert>
  	<update id="update" parameterType="NoticeDTO">
  		UPDATE NOTICES SET
  			BOARDTITLE=#{boardTitle},
  			BOARDCONTENTS=#{boardContents}
  		WHERE BOARDNUM =#{boardNum}	
  	</update>
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE NOTICES WHERE BOARDNUM =#{boardNum}
  	</delete>
  	
  	<update id="updateHit" parameterType="NoticeDTO">
  		UPDATE NOTICES SET BOARDHIT=BOARDHIT+1
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  	
  	
  
	
  </mapper>