<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.woojin.app.boards.notices.NoticeDAO">
  	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
  		SELECT * FROM 
			(SELECT ROWNUM R, M.* FROM 
				(
					SELECT * 
					FROM NOTICES 
					WHERE 
					<!-- #사용하지 않음 -->
					<choose>
						<when test="kind=='k2'">
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<when test="kind=='k3'">
						BOARDTITLE LIKE '%'||#{search}||'%'
						OR
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<otherwise>
						BOARDTITLE LIKE '%'||#{search}||'%'
						</otherwise>
					</choose>
					ORDER BY BOARDNUM DESC
				 ) M
			 )
		WHERE R BETWEEN #{startNum} AND #{endNum}
  	</select>
  	<select id="getDetail" parameterType="NoticeDTO" resultMap="getDetailResult">
  		SELECT * FROM NOTICES n 
		LEFT OUTER JOIN NOTICEFILES f
		USING (boardnum)
		WHERE boardnum = #{boardNum}
  	</select>
  	
  	<resultMap type="NoticeDTO" id="getDetailResult">
  		<id column="BOARDNUM" property="boardNum"/>
  		<result column="BOARDTITLE" property="boardTitle"/>
  		<result column="BOARDDATE" property="boardDate"/>
  		<result column="BOARDHIT" property="boardHit"/>
  		<result column="BOARDCONTENTS" property="boardContents"/>
  		<result column="USERNAME" property="userName"/>
  		<!-- 1:N ofType="Generic type" -->
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="OLDNAME" property="oldName"/>
  		</collection>
  	</resultMap>
  	
  	<select id="count" resultType="Long">
  		SELECT COUNT(boardnum) FROM NOTICES
  	</select>
  	<insert id="add" parameterType="NoticeDTO">
  	<!-- 메인쿼리 실행전(before)에 selectkey의 결과물 Long타입의 값을 NoticeDTO의 boardNum에 대입 -->
  		<selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  	
  		INSERT INTO NOTICES 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME)
  		VALUES
  			<!-- 시퀀스를 실행하는 것이 아닌 boardNum의 값을 가져옴 -->
  			(#{boardNum}, #{boardTitle,jdbcType=VARCHAR}, sysdate, #{boardContents,jdbcType=VARCHAR}, 0, #{userName,jdbcType=VARCHAR})	
  	</insert>
  	<insert id="addFile" parameterType="BoardFileDTO">
  		INSERT INTO NOTICEFILES (FILENUM, FILENAME, OLDNAME, BOARDNUM)
  		VALUES
  			(FILES_SEQ.NEXTVAL, #{fileName,jdbcType=VARCHAR}, #{oldName}, #{boardNum})
  			
  	</insert>
  	<update id="update" parameterType="NoticeDTO">
  		UPDATE NOTICES SET
  			BOARDTITLE=#{boardTitle},
  			BOARDCONTENTS=#{boardContents}
  		WHERE BOARDNUM =#{boardNum}	
  	</update>
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE NOTICES WHERE BOARDNUM =#{boardNum}
  	</delete>
  	
  	<update id="updateHit" parameterType="NoticeDTO">
  		UPDATE NOTICES SET BOARDHIT=BOARDHIT+1
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  	
  	<select id="getFileDetail" resultType="BoardFileDTO" parameterType="BoardFileDTO">
  		SELECT * FROM NOTICEFILES WHERE FILENUM=#{fileNum}
  	</select>
  	
  	<delete id="fileDelete" parameterType="BoardFileDTO">
  		DELETE NOTICEFILES WHERE FILENUM=#{fileNum}
  	</delete>
  	
  	<delete id="fileDeleteAll" parameterType="BoardDTO">
  		DELETE NOTICEFILES WHERE BOARDNUM=#{boardNum}
  	</delete>
	
  </mapper>