<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.woojin.app.boards.qna.QnaDAO">
  	<select id="getList" parameterType="Pager" resultType="QnaDTO">
  		SELECT * FROM 
			(SELECT ROWNUM R, M.* FROM 
				(
					SELECT * 
					FROM QNA 
					WHERE 
					<!-- #사용하지 않음 -->
					<choose>
						<when test="kind=='k2'">
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<when test="kind=='k3'">
						BOARDTITLE LIKE '%'||#{search}||'%'
						OR
						BOARDCONTENTS LIKE '%'||#{search}||'%'
						</when>
						<otherwise>
						BOARDTITLE LIKE '%'||#{search}||'%'
						</otherwise>
					</choose>
					ORDER BY BOARDREF DESC, BOARDSTEP ASC
				 ) M
			 )
		WHERE R BETWEEN #{startNum} AND #{endNum}
  	</select>
  	
  	<resultMap type="QnaDTO" id="getDetailResult">
  		<id column="BOARDNUM" property="boardNum"/>
  		<result column="BOARDTITLE" property="boardTitle"/>
  		<result column="BOARDDATE" property="boardDate"/>
  		<result column="BOARDHIT" property="boardHit"/>
  		<result column="BOARDCONTENTS" property="boardContents"/>
  		<result column="USERNAME" property="username"/>
  		<result column="BOARDREF" property="boardRef"/>
  		<result column="BOARDSTEP" property="boardStep"/>
  		<result column="BOARDDEPTH" property="boardDepth"/>
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="OLDNAME" property="oldName"/>
  		</collection>
  	</resultMap>
  	
  	<select id="getDetail" parameterType="QnaDTO" resultType="QnaDTO">
  		SELECT * FROM QNA WHERE BOARDNUM=#{boardNum}
  	</select>
  	<select id="count" resultType="Long">
  		SELECT COUNT(boardNum) FROM QNA
  	</select>
  	<insert id="add" parameterType="QnaDTO">
  		<selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  		VALUES
  			(#{boardNum}, #{boardTitle}, sysdate, #{boardContents}, 0, #{username}, #{boardNum}, 0, 0)	
  	</insert>
  	<insert id="addFile" parameterType="BoardFileDTO">
  		INSERT INTO QNAFILES (FILENUM, FILENAME, OLDNAME, BOARDNUM)
  		VALUES (QNAS_SEQ.NEXTVAL, #{fileName,jdbcType=VARCHAR}, #{oldName}, #{boardNum})
  	</insert>
  	<insert id="reply" parameterType="QnaDTO">
  	  	INSERT INTO QNA 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  		VALUES
  			(BOARD_SEQ.NEXTVAL, #{boardTitle}, sysdate, #{boardContents}, 0, #{username}, #{boardRef}, #{boardStep}, #{boardDepth})	
  	</insert>
  	<update id="updateStep" parameterType="QnaDTO">
  		UPDATE QNA SET
  			BOARDSTEP = BOARDSTEP+1
  		WHERE BOARDREF=#{boardRef} AND BOARDSTEP>#{boardStep}
  	</update>
  	<update id="update" parameterType="QnaDTO">
  		UPDATE QNA SET
  			BOARDTITLE=#{boardTitle},
  			BOARDCONTENTS=#{boardContents}
  		WHERE BOARDNUM =#{boardNum}	
  	</update>
  	<delete id="delete" parameterType="QnaDTO">
  		DELETE QNA WHERE BOARDNUM =#{boardNum}
  	</delete>
  	
  	<update id="updateHit" parameterType="QnaDTO">
  		UPDATE QNA SET BOARDHIT=BOARDHIT+1
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  	
  	<select id="getFileDetail" resultType="BoardFileDTO" parameterType="BoardFileDTO">
  		SELECT * FROM QNAFILES WHERE FILENUM=#{fileNum}
  	</select>
  	
  	<delete id="fileDelete" parameterType="BoardFileDTO">
  		DELETE QNAFILES WHERE FILENUM=#{fileNum}
  	</delete>
  	
  	<delete id="fileDeleteAll" parameterType="BoardDTO">
  		DELETE QNAFILES WHERE BOARDNUM=#{boardNum}
  	</delete>
  	
  	
  
	
  </mapper>